{
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "ignorePatterns": ["typedoc.js"],
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
    "root": true,
    "rules": {
        "indent": ["error", 4]
    }
}
